# v*.*.* tag -> deploy to Gradle Plugin Portal
name: Deploy to Gradle Plugin Portal

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  deploy-pluginportal:
    runs-on: ubuntu-latest
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      SIGNING_PGP_KEY: ${{ secrets.SIGNING_PGP_KEY }}
      SIGNING_PGP_PASSWORD: ${{ secrets.SIGNING_PGP_PASSWORD }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17
      - name: Deploy to Gradle Plugin Portal
        run: |
          ./gradlew :plugin:publishPlugins
