# PR Open -> Test sample diff
name: Test Sample diff

on:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  test-diff:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 17
      - name: Remove Unused Resources
        run: |
          ./gradlew :sample:lintDebug -Prur.lint.onlyUnusedResources -Prur.lint.overrideLintConfig="./lint.empty.xml"
          ./gradlew :sample:removeUnusedResourcesDebug
      - name: Compare diff
        id: compare
        shell: bash +e {0}
        run: |
          git diff --unified=0 | sed "/^index .*$/d" > sample.diff.new
          diff -u sample.diff sample.diff.new > sample.diff.changes || (
            {
              echo "diff<<EOF"
              cat sample.diff.changes | tail -n +3
              echo "EOF"
            } >> "$GITHUB_OUTPUT"
            exit 1
          )
      - uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4.0.0
        id: find_comment
        if: failure()
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: "Diff changed:"
      - uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        if: failure()
        with:
          body: |
            Diff changed:
            ```diff
            ${{ steps.compare.outputs.diff }}
            ```
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
