# main branch -> commit sample.diff
name: Update and commit sample.diff

on:
  push:
    branches: [ main ]

jobs:
  update-samplediff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Remove Unused Resouces
        run: |
          ./gradlew :sample:lintDebug -Prur.lint.onlyUnusedResources -Prur.lint.overrideLintConfig="lint.empty.xml"
          ./gradlew :sample:removeUnusedResourcesDebug
      - name: commit sample.diff
        shell: bash +e {0}
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git diff --unified=0 ":!sample.diff" | sed "/^index .*$/d"> sample.diff
          git add sample.diff && git commit -m "Update sample.diff" && git push origin HEAD
          exit 0
